<legend>Attributions</legend>
<!-- <h4 data-trt="1026:Attributions"></h4> -->
<h5 data-trt="1046:JavaScript Libraries"></h5>
<ul>
    {{#each javascript}}
    <li>{{name}} <a href="{{url}}" target="_blank">{{url}}</a></li>
    {{/each}}
</ul>
<h5 data-trt="1047:Images"></h5>
<ul>
    {{#each images}}
    <li>{{name}} <a href="{{url}}" target="_blank">{{url}}</a></li>
    {{/each}}
</ul>
