<div class="oseam-map-tracks"></div>

<div>
<div class="control-group">
	<p><label class="tableft50">Pegel Name</label></p>
    <div class="input-append">
	    <input type="text" id="name" name="name" placeholder="0.00" value="{{name}}"/>
		<span class="help-inline helpOsm"></span>
    </div>
</div>
<div class="control-group">
	<p><label class="tableft50">Pegeltyp</label></p>
    <div class="input-append">
	    <input type="text" id="type" name="type" placeholder="Name" value="{{type}}"/>
		<span class="help-inline helpOsm"></span>
    </div>
</div>
<div class="control-group">
	<p><label class="tableft50">Pegeltyp</label></p>
    <div class="input-append">
	    <input type="text" id="type" name="type" placeholder="Fluss" value="{{type}}"/>
		<span class="help-inline helpOsm"></span>
    </div>
</div>
<div class="control-group">
	<p><label class="tableft50">Latitude</label></p>
    <div class="input-append">
	    <input type="text" id="latitude" name="latitude" placeholder="52.0" value="{{lat}}"/>
		<span class="help-inline helpOsm"></span>
    </div>
</div>
<div class="control-group">
	<p><label class="tableft50">Longitude</label></p>
    <div class="input-append">
	    <input type="text" id="longitude" name="longitude" placeholder="1.0" value="{{lon}}"/>
		<span class="help-inline helpOsm"></span>
    </div>
</div>
<div class="control-group">
	<p><label class="tableft50">Pegelnullpunkt</label></p>
    <div class="input-append">
	    <input type="text" id="gaugezero" name="gaugezero" placeholder="230" value="{{gaugezero}}"/>
		<span class="help-inline helpOsm"></span>
    </div>
</div>
</div>

<table class="table table-condensed table-striped table-hover">
<thead>
        <tr>
            <th>Date</th>
            <th>Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
