<div class="control-group">
    <p><label class="tableft50">Gauge Name</label></p>
    <div class="input-append">
        <input type="text" id="name" name="name" placeholder="Maxau" value="{{name}}"/>
        <span class="help-inline helpOsm"></span>
    </div>
</div>
<div class="control-group">
    <p><label class="tableft50">Gauge Type</label></p>
    <div class="input-append">
        <input type="text" id="gaugeType" name="gaugeType" placeholder="Fluss" value="{{gaugeType}}"/>
        <span class="help-inline helpOsm"></span>
    </div>
</div>
<div class="control-group">
    <p><label class="tableft50">Latitude</label></p>
    <div class="input-append">
        <input type="text" id="latitude" name="latitude" placeholder="52.0" value="{{latitude}}"/>
        <span class="help-inline helpOsm"></span>
    </div>
</div>
<div class="control-group">
    <p><label class="tableft50">Longitude</label></p>
    <div class="input-append">
        <input type="text" id="longitude" name="longitude" placeholder="1.0" value="{{longitude}}"/>
        <span class="help-inline helpOsm"></span>
    </div>
</div>
<div class="control-group">
    <p><label class="tableft50">Water Reference Level</label></p>
    <div class="input-append">
        <input type="text" id="waterlevel" name="waterlevel" placeholder="230" value="{{waterlevel}}"/>
        <span class="help-inline helpOsm"></span>
    </div>
</div>

<div>
<table class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
</div>
