<div>
        <form class="form-horizontal"> <span style="position:relative; top:0px; left:670px; float: left;"><a href="http://wiki.openseamap.org/wiki/De:Metadata_help" target="_blank"><img src="images/help.png" width="32" height="32"/></a></span>
 <legend data-trt="1069:Sensor Positions"></legend>
            <p class="text-warning">  Bitte geben Sie zunächst die Bootsmaße ein und setzen Sie die Positionen des GPS und Echolot via drag and drop.</p>
		    <div class="row">
                <div class="span8">
                    
                    <div class="control-group">
                        <label class="control-label" for="vesselLength">Distanz längs</label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" id="vesselLength" class="input-mini" name="loa" id="vesselLength" value="{{vesselLength}}" placeholder="0.00"/>
                                <span class="add-on">m</span>
							      </div>	  <span class="help-inline"></span>
                        </div>
                    </div> 
					
     <div class="control-group">
                        <label class="control-label" for="vesselWidth">Distanz quer</label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="input-mini" name="breadth" id="vesselWidth" value="{{vesselWidth}}" placeholder="0.00"/>
                                <span class="add-on">m</span>
							</div>	  <span class="help-inline"></span>
                        </div>
                    </div> 
         
	
<table class="tableft100 separate">
  <colgroup>
    <col width="200">
    <col width="60">
    <col width="60">
  </colgroup>
  <tr>
    <th></th>
    <th> GPS </th>
    <th> Echolot </th>
  </tr>
  <tr>
    <td><b> von der Achse [m] </b></td>
    <td id="gps_distanceFromCenter">{{positionGPSCenterline}}</td>
    <td  id="depth_distanceFromCenter">{{positionSounderCenterline}}</td>
  </tr>
  <tr>
    <td><b> vom Heck [m] </b></td>
    <td id="gps_distanceFromStern" >{{positionGPSStern}}</td>
    <td id="depth_distanceFromStern">{{positionSounderStern}}</td>
  </tr>
</table>
	  
<!-- <div class="tableft100"> -->
<div class="tableft40">
<div >Negative Werte = Backbord, Positive Werte = Steuerbord.&nbsp;</div>
</div>

<div class="tableft40">
<div style="width: 20px; height: 20px; border-radius:10px; background:#000; float: left;"></div><div style="float: left;">&nbsp;GPS&nbsp;</div>
<div style="width: 20px; height: 20px; border-radius:10px; background:#FF0000; float: left;"></div><div style="float: left;">&nbsp;Echolot&nbsp;</div> 
</div>
</div>
		   <div class="span4">
                    <div id="vesselsize" style="position:relative; float: left; top:100px left:450px; width:100px; height:200px; border:5px solid red; padding:0px; background-size:100% 100%; background-image: url(images/vessel.png);">
				 	<div id="draggableGps" style="position:absolute; top:10px; left:10px; width: 20px; height: 20px; border-radius:10px; background:#000"></div>
				    <div id="draggableSounder" style="position:absolute; top:10px; left:30px; width: 20px; height: 20px; border-radius:10px; background:#FF0000"></div> 
				</div>
            </div>
         </form>
    </div>