<legend data-trt="1400:Reset Password"></legend>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="{{idUsername}}" data-trt="1004:Email">*</label>
        <div class="controls">
            <input type="text" id="{{idUsername}}" name="username" data-trt-placeholder="1016:Your Email address"/>
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{idCaptcha}}" data-trt="1007:Captcha">*</label>
        <div class="controls" style="margin-bottom:5px">
            <div id="captcha" class="loading"> </div>
<!--            <img class="img-polaroid" src="captchaUrl" /> -->
<!--            <button type="button" class="btn btn-link" data-trt="1008:Renew"></button>-->
        </div>
        <div class="controls">
            <input type="text" id="{{idCaptcha}}" name="captcha" data-trt-placeholder="1007:Captcha"/>
            <span class="help-inline"></span>
        </div>
    </div>
<!--    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" id="{{idLicense}}"></input>
                <div data-trt="1015:blah"></div>
            </label>
        </div>
</div>-->
    <div class="control-group">
        <div class="controls">
            <button type="submit" id="{{idSubmit}}" class="btn btn-primary" data-loading-text="Loading..." data-trt="1401:Request new password"></button>
        </div>
    </div>
</form>
