<td>{{id}}</td>
<td>{{fileName}}</td>
<td>
{{#if progress}}
    <div class="progress progress-striped active">
        <div class="bar" style="width: {{progress}}%;"></div>
    </div>
{{else}}
    <span data-trt="{{status}}"></span>
{{/if}}
</td>
<td>{{fileType}}</td>
<td>{{compression}}</td>
<td>{{containertrack}}</td>
<td>{{vesselconfigid}}</td>
<td>{{license}}</td>
<td>
    <i class="icon-trash"></i>
</td>
