<legend data-trt="1203:User Information"></legend>
<h5>Verwalten Sie Ihre Benutzerdaten</h5>

<!--<div>

    <div class="span8">
        <h4>Benutzerdaten</h4>
        <h5>Verwalten Sie Ihre Benutzerdaten</h5> -->
        
<!--        <form name="user" class="form-horizontal">  -->
        <form name="user">
        <div class="control-group">
            <p><label class="tableft50a">E-Mail*</label></p>
            <div class="input-append">
                <input type="text" id="user" name="user_name" placeholder="jane@doe.com" value="{{user_name}}"/>
            </div>
        </div>

        <div class="control-group">
            <p><label class="tableft50a">Vorname</label></p>
            <div class="input-append">
                <input type="text" id="forename" name="forename" placeholder="Jane" value="{{forename}}"/>
            </div>
        </div>

        <div class="control-group">
            <p><label class="tableft50a">Nachname</label></p>
            <div class="input-append">
                <input type="text" id="surname" name="surname" placeholder="Doe" value="{{surname}}"/>
            </div>
        </div>

        <div class="control-group">
            <p><label class="tableft50a">Organisation</label></p>
            <div class="input-append">
                <input type="text" id="organisation" name="organisation" placeholder="Hydrographic Institute" value="{{organisation}}"/>
            </div>
        </div>

        <div class="control-group">
            <p><label class="tableft50a">Sie dürfen mich per E-Mail kontaktieren</label></p>
            <div class="input-append">
                <input type="checkbox" id="acceptedEmailContact" name="acceptedEmailContact" checked="{{acceptedEmailContact}}"/>
            </div>
        </div>

        <div class="control-group">
            <p><label class="tableft50a">Land</label></p>
            <div class="input-append">
                <select name="country" id="countries" class="form-control bfh-countries" data-country="US"></select>
            </div>
        </div>

        <div class="control-group">
            <p><label class="tableft50a">Sprache</label></p>
            <div class="input-append">
                <select name="language" id="languages" class="form-control bfh-languages" data-language="en"></select>            
            </div>
        </div>

        <div class="control-group">
            <p><label class="tableft50a">Telefon</label></p>
            <div class="input-append">
        <!--    <input name="phone" id="phones" type="text" class="form-control bfh-phone" data-country="countries"/>  -->
                <input name="phone" id="phone" type="text" class="form-control bfh-phone" data-country="countries"  placeholder="z.B. 0049 221 8853"/>
            </div>
        </div>
        
        </form>
        <!--		<form name="resetpassword">
                <div class="control-group">
            <div class="controls">
                <input type="password" id="oldPassword" data-trt-placeholder="1017:Altes Password"/>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group" style="margin-bottom:5px">
            <label class="control-label" for="{{idPassword1}}" data-trt="1005:Passwort">*</label>
            <div class="controls">
                <input type="password" id="newPassword" name="newPassword" data-trt-placeholder="1005:Password"/>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="password" id="newPassword2" data-trt-placeholder="1017:Passwort Verifizierung"/>
                <span class="help-inline"></span>
            </div>
        </div>
        
        </form>-->
<!--    </div>

</div> -->
