<div>

    <h3>Vessel Dimensions</h3>

    <div class="control-group">
    <p><label for="yacht_length" class="tableft50">Length </label></p>
    <div class="input-append"><input id="loa" class="input-mini" type="number" placeholder="0.0" name="loa"  value="{{loa}}"><span class="add-on">m</span>
     <span class="help-inline helpOsm"></span>
    </div>
    </div>
    
    <div class="control-group">
    <p><label for="breadth" class="tableft50">Beam</label></p>
    <div class="input-append"><input id="breadth" class="input-mini" type="number" placeholder="0.0" name="breadth" value="{{breadth}}"><span class="add-on">m</span>
    <span class="help-inline helpOsm"></span>
    </div>
    </div>
    
    <div class="control-group">
    <p><label for="draft" class="tableft50">Draft</label></p>
    <div class="input-append"><input id="draft" class="input-mini" type="number" placeholder="0.0" name="draft" value="{{draft}}"><span class="add-on">m</span>
  <span class="help-inline helpOsm"></span>
    </div>
    </div>
        
    <div class="control-group">
    <p><label for="displacement" class="tableft50">Displacement</label></p>
    <div class="input-append"><input id="displacement" class="input-mini" type="number" placeholder="0.0" name="displacement" value="{{displacement}}"><span class="add-on">t</span>
    <span class="help-inline helpOsm"></span>
    </div>
    </div>
        
    <div class="control-group">
    <p><label for="height" class="tableft50">Height</label></p>
    <div class="input-append"><input id="height" class="input-mini" type="number" placeholder="0.0" name="height" value="{{height}}"><span class="add-on">m</span>
    <span class="help-inline helpOsm"></span>
    </div>
    </div>
    
    <div class="control-group">
    <p><label for="manufacturer" class="tableft50">Manufacturer</label></p>
    <div class="input-append"><input type="text" id="manufacturer" name="manufacturer" value="{{manufacturer}}" />
    <span class="help-inline helpOsm"></span>
    </div>
    </div>
    
    <div class="control-group">
    <p><label for="model" class="tableft50">Model</label></p>
    <div class="input-append"><input type="text" id="model" name="model" value="{{model}}" />
    <span class="help-inline helpOsm"></span>
    </div>
    </div>
    
    
</div>